<header [ngClass]="{'transparent': isTransparent, 'solid': !isTransparent}">
    <a class="title" routerLink="/"><strong>SummitRise</strong></a>
    <div class="navbar">
        <div class="navbar-item"><a routerLink="/">Home</a></div>
        <div class="navbar-item"><a routerLink="/tarifs">Tarifs</a></div>
        <div class="navbar-item"><a routerLink="/contact">Contact</a></div>
        <div class="navbar-item"><a routerLink="/account">Compte</a></div>
    </div>
    <div class="user">
        <button mat-raised-button color="primary">Inscription</button>
        <button mat-flat-button color="primary">Connexion</button>
    </div>
</header>
