<app-header></app-header>
<div class="main-container">
    <div class="hero">
      <img src="img/climber.png" alt="Climber" class="hero-image">
      <div class="hero-text">
        <h1>{{ 'à la une' | uppercase }}</h1>
    </div>

    <div class="content">
        <h2>Titre</h2>
        <mat-grid-list cols="3" rowHeight="1:1" gutterSize="16px">
            <mat-grid-tile *ngFor="let actu of displayedActus">
                <app-news [title]="actu.title" [content]="actu.content"></app-news>
            </mat-grid-tile>
        </mat-grid-list>
        <button mat-raised-button color="primary" (click)="loadMore()" *ngIf="displayedActus.length < allActus.length">Charger plus</button>
      </div>
</div>
