<mat-card *ngFor="let session of sessions" class="session at-mdc-card mdc-card">
    <mat-card-header>
        <mat-card-subtitle>Forfait</mat-card-subtitle>
        <mat-card-title>{{ session.name }}</mat-card-title>
        <mat-divider></mat-divider>
    </mat-card-header>
    <mat-card-content>
        <div class="desc">
            <p *ngFor="let description of session.desc" [innerHTML]="description"></p>
        </div>
        <p class="availability" [ngClass]="{'available': session.availability, 'not-available': !session.availability}">
            {{ session.availability ? 'Available' : 'Not Available' }}
        </p>
        <mat-divider></mat-divider>
    </mat-card-content>
    <mat-card-footer>
        <!-- <p><strong>Default:</strong> {{ session.prices.default }} €</p>
        <p><strong>Happy:</strong> {{ session.prices.happy }} €</p>
        <p><strong>Reduced:</strong> {{ session.prices.reduced }} €</p>
        <p><strong>Reduced Happy:</strong> {{ session.prices.reduced_happy }} €</p> -->
    </mat-card-footer>
</mat-card>