<mat-card class="card" [ngClass]="{'black-card': black, 'one-price': !forfait.discount}">
    <mat-card-header>
      <mat-card-title>{{ forfait.subtitle }}</mat-card-title>
      <mat-card-subtitle>{{ forfait.title }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <p>{{ forfait.description }}</p>
        <p>{{ forfait.details }}</p>
        <p>{{ forfait.note }}</p>
    </mat-card-content>
    <mat-card-footer>
      <div class="price happy-hour" *ngIf="forfait.discount">
        <p>{{ price$ | async | happyHour: forfait.discount | currency:'EUR' }}</p>
        <p>Happy hour</p>
      </div>
      <div class="price regular">
        <p>{{ price$ | async | currency:'EUR'}}</p>
      </div>
    </mat-card-footer>
  </mat-card>