<app-header></app-header>
<div class="main-container">
    <section>
        <div class="hero">
            <img src="img/climber.png" alt="Climber" class="hero-image">
            <div class="hero-text">
              <h1>Tarifs, abonnements <br> & cartes cadeaux</h1>
            </div>
        </div>
        <div class="secondary-navbar">
            <div class="secondary-navbar-item"><a href="/tarifs#id-forfait-abonnement">Forfait et abonnements</a></div>
            <div class="secondary-navbar-item"><a href="/tarifs#id-forfait-kids">Pour les kids</a></div>
            <div class="secondary-navbar-item"><a href="/tarifs#id-carte-cadeau">Cartes cadeaux</a></div>
        </div>
    </section>
    <section class="section" id="id-forfait-abonnement">
        <h2>Forfait et abonnements</h2>
        <div style="display: flex; justify-content: center;">
            <mat-slide-toggle labelPosition="before" class="white" (change)="onToggleChange($event)">Tarif normal</mat-slide-toggle>
            <p class="mat-slide-toggle white">Tarif réduit</p>
            <span
            matTooltip="Le tarif réduit s'applique aux étudiants, jeunes de moins de 18 ans, demandeurs d'emploi, pompiers, militaires et aux membres de clubs (FFME, FSGT et CAF) sous réserve de la présentation d’un justificatif en cours de validité."
            [matTooltipPosition]="'above'"
            class="icon">
                <img src="img/help.svg" alt="Info">
            </span>
        </div>
        <mat-tab-group>
            <mat-tab label="1 à 10 sessions" class="white">
                <div class="forfait-list">
                    <app-forfait *ngFor="let forfait of forfaitData" [forfait]="forfait"></app-forfait>
                </div>
            </mat-tab>
            <mat-tab label="Abonnements">
                <div class="forfait-list">
                    <app-abonnement *ngFor="let abonnement of abonnementData" [abonnement]="abonnement"></app-abonnement>
                </div>
            </mat-tab>
          </mat-tab-group>          
    </section>
    <section class="section" id="id-forfait-kids">
        <h2 style="color: black;">Pour les kids</h2>
        <div class="forfait-list">
            <app-forfait *ngFor="let forfait of forfaitKidData" [forfait]="forfait" [black]="true"></app-forfait>
            <app-abonnement [abonnement]="abonnementKidData" [black]="true"></app-abonnement>
        </div>
    </section>
    <section class="section" id="id-carte-cadeau">
        <h2>
            Faîtes plaisir grâce à nos cartes cadeaux
        </h2>
        <div class="forfait-list">
            <app-forfait *ngFor="let forfait of kdoData" [forfait]="forfait"></app-forfait>
        </div>
    </section>
</div>
<app-footer></app-footer>