/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; scroll-behavior: smooth;}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
:root {
    --primary: #FB8B24;
    --background-primary: #0F4C5C;
    --background-secondary: #5F0F40
}

.mdc-switch__icons {
    display: none;
}

.white {
    color: #ffffff!important;
}

.white label {
    color: #ffffff!important;
}

.mdc-tab__text-label {
    color: #ffffff!important;
}
