<app-header></app-header>
<div class="main-container">
  <div class="hero">
    <img src="img/climber.png" alt="Climber" class="hero-image">
    <div class="hero-text">
      <h1>Logo</h1>
      <h2>Slogan</h2>
      <p>Petite description</p>
      <button>Bouton</button>
    </div>
  </div>
  <div class="content-wrapper">
    <div class="about-section" id="section2">
      <div class="about-text">
        <h2>L'histoire de SummitRise</h2>
        <p>Ouvert depuis 2024, SummitRise est une salle d'escalade de bloc située à Toulouse, dans le Sud de la France. Implantée désormais en bordure de Garonne et à proximité du centre-ville, elle a pris place dans une halle moderne et spacieuse. Pour progresser en escalade, pour vous amuser en famille ou entre amis, pour boire un coup au bar, ou encore profiter du restaurant et des plats préparés avec amour et passion par notre chef cuisinier, nous vous accueillons tous les jours dans une atmosphère chaleureuse et familiale.</p>
        <button mat-raised-button color="primary">Découvrir</button>
      </div>
      <img src="img/climbing-gym.png" alt="Climbing Gym" class="about-image">
    </div>
    <!-- Nouvelle section ajoutée pour "Horaire", "Tarif" et "Stats" -->
    <div class="schedule-section">
      <div class="info-box">
        <h3>Horaire</h3>
      </div>
      <div class="info-box">
        <h3>Tarif</h3>
      </div>
      <div class="info-box">
        <h3>Stats</h3>
      </div>
    </div>
  </div>
</div>
