/* Style pour le header */
app-header {
  position: relative;
  z-index: 3; /* Assure que le header reste au-dessus des autres éléments */
  background-color: #004d66; /* Couleur du header */
}

/* Style pour la section de l'image de fond */
.hero {
  position: fixed;
  top: 0px;
  left: 0;
  width: 100%;
  height: 100vh;
  text-align: center;
  color: white;
  z-index: 1;
}

.hero-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Conteneur pour la section de contenu */
.content-wrapper {
  position: relative;
  margin-top: 100vh; /* Pour permettre à la section de contenu de commencer après la section hero */
  background-color: white;
  z-index: 2;
}

.about-section {
  display: flex;
  align-items: center; /* Centre verticalement le contenu */
  padding: 20px 20px; /* Ajustez le padding pour réduire l'espace blanc */
  background-color: #f5f5f5; /* Fond gris clair */
  z-index: 2;
  min-height: 80vh; /* Ajuste la hauteur pour réduire l'espace */
}

.about-text {
  flex: 1;
  padding-right: 20px;
}

.about-text h2 {
  font-size: 3em; /* Augmente la taille du titre */
  margin-bottom: 20px;
  color: #FB8B24; /* Assigne la même couleur que le header */
}

.about-text p {
  font-size: 1.5em; /* Augmente la taille du texte */
  line-height: 1.6;
}

.about-text button {
  margin-top: 20px;
}

.about-image {
  flex: 1;
  width: 50%;
  max-height: 80vh; /* Limite la hauteur de l'image */
  object-fit: cover;
}

/* Style pour la nouvelle section */
.schedule-section {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  background-image: url('../../assets/img/escalade_etoile.jpg'); /* Chemin correct */
  background-size: cover;
  background-position: center;
  height: 100vh;
  padding: 20px;
  flex-wrap: wrap;
}

.info-box {
  background-color: rgba(255, 255, 255, 0.6); /* Boîte semi-transparente */
  padding: 20px;
  border-radius: 10px;
  width: 25%;
  height: 300px; /* Ajout de hauteur fixe */
  margin: 10px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  flex: 1 1 30%; /* Permet de mieux gérer l'espace dans la grille */
}

.info-box h3 {
  font-size: 2em;
  color: #FB8B24; /* Couleur des icônes */
}

.info-box p {
  font-size: 1.2em;
}

.info-box a {
  color: #FB8B24; /* Couleur du lien */
  text-decoration: none;
}

.stats {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.stat-item {
  width: 22%; /* Réduction de la largeur pour tenir sur une ligne */
  margin: 10px 0;
}

.stat-item h4 {
  font-size: 2.5em;
  margin: 0;
  color: #FB8B24; /* Couleur des chiffres */
}

.stat-item p {
  font-size: 1.2em;
  margin: 5px 0 0 0;
}

.stat-item {
  width: 22%; /* Réduction de la largeur pour tenir sur une ligne */
  margin: 10px 0;
  text-align: center;
}

.stat-item img {
  width: 160px; /* Ajustez la largeur selon vos besoins */
  height: 120px; /* Ajustez la hauteur selon vos besoins */
  object-fit: cover; /* Assure que l'image couvre bien la taille définie sans déformation */
  margin-top: 10px;
  border-radius: 10px; /* Optionnel : ajoute des coins arrondis aux images */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optionnel : ajoute une ombre aux images */
}


.kids-section {
  position: relative;
  background-image: url('../../assets/img/enfant.jpeg'); /* Remplacez par le chemin de votre image */
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
}

.kids-overlay {
  background-color: rgba(0, 0, 0, 0.5); /* Fond semi-transparent pour le contraste */
  padding: 40px;
  border-radius: 10px;
  width: 80%;
}

.kids-section h2 {
  font-size: 3em;
  margin-bottom: 20px;
}

.kids-section p {
  font-size: 1.2em;
  margin-bottom: 30px;
}

.register-button {
  background-color: #6200ea;
  color: white;
  padding: 15px 30px;
  font-size: 1.2em;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.kids-age {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 10px;
  color: black;
  margin-top: 30px;
}

.kids-age h3 {
  font-size: 2em;
}

.kids-age p {
  font-size: 1.2em;
}





.comment-section-wrapper {
  background-image: url('../../assets/img/Fondnoir.JPG'); /* Remplacez par le chemin de votre image */
  background-size: cover;
  background-position: center;
  padding: 40px;
  display: flex;
  justify-content: space-between;
}

.comment-section, .comments-display-section {
  background-color: rgba(255, 255, 255, 0.9); /* Fond blanc semi-transparent pour le contraste */
  padding: 40px;
  border-radius: 10px;
  width: 48%; /* Occupe la moitié de l'écran moins un peu de marge */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Ajoute une ombre aux boxes */
}

.comment-section h2, .comments-display-section h3 {
  color: #FB8B24; /* Couleur des titres */
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input, .form-group textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

button[type="submit"] {
  background-color: #6200ea;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#commentsDisplay {
  max-height: 400px; /* Limite la hauteur pour permettre le défilement */
  overflow-y: auto; /* Ajoute une barre de défilement verticale */
  margin-top: 20px;
}

#commentList {
  list-style-type: none;
  padding: 0;
}

#commentList li {
  background-color: white;
  padding: 20px;
  margin-bottom: 10px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#commentList li h4 {
  margin: 0;
  color: #FB8B24;
}

#commentList li p {
  margin: 10px 0 0;
}



.rating {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
}

.rating input[type="radio"] {
  display: none;
}

.rating label {
  font-size: 2em;
  color: #ddd;
  cursor: pointer;
}

.rating input[type="radio"]:checked ~ label {
  color: #FFD700;
}

.rating label:hover,
.rating label:hover ~ label {
  color: #FFD700;
}

.error {
  color: red;
  font-size: 0.9em;
  margin-top: 5px;
}
